body, html{
    width:100%;
    height:100%;
}

.first{
    height:100%;
}

.container-fluid{
    height:100%;
}

.row1{
    font-family:'Lato', sans-serif;
    text-align:center;
    background: url('../img/bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height:100%;
}

.header{
    position: relative !important;
    top: 50%;
    transform: translateY(-50%);
}

.sub{
    color: white;
    font-size:1.3em;
}

.header h1{
    font-size: 10em;
    color: white;
    font-weight: 300;
}

.button button{
    margin-top:150px;
}


@media (max-width: 1000px) {
    .header h1{
        font-size: 5em; 
    }
}